@import './style-sheets/theme.scss';
@import './top-bar.css';
@import './main-page.css';
@import './blog.css';
@import './style-sheets/projects.scss';
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: $texts;
    font-family: $general;
}
body{
    background-color: $main;

}