@import './style-sheets/theme.scss';
@import './style-sheets/top-bar.scss';
@import './style-sheets/main-page.scss';
@import './style-sheets/blog.scss';
@import './style-sheets/projects.scss';
@import './style-sheets/about-me.scss';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: $texts;
    font-family: $general;
}

body{
    background-color: $main;
    .content{
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        h2{
            margin-top: 15vh;
            font-family: $titles;
            font-size:2em;
            width: 80%;
            border-bottom: 2px dashed;
            text-align: center;
            padding-bottom: 5px;
        }
    }
}

@media only screen and (max-width: 600px){
    body{
        .content{
            h2{
                margin-top: 40px;
            }
        }
    }
}