$darkest: #231f28;
$medium:#475170;
$light :#718eae;
$blueish: #23324c;
$accent-colour: #8d453c;

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    .navigation{
        margin-left: 10px;
        width: 70%;
        height: 100%;
        nav{
            display: flex;
            align-items: center;
            height: 100%;
            a{
                text-decoration: none;
                border: 2px solid hidden;
                border-radius: 5%;
                margin: 8px;
                padding: 3px;
                display: inline-block;
                vertical-align: middle;
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                position: relative;
            }
            a:before {
              pointer-events: none;
              content: '';
              position: absolute;
              border: #e1e1e1 solid 4px;
              border-radius: 5px;
              top: -16px;
              right: -16px;
              bottom: -16px;
              left: -16px;
              opacity: 0;
              transition-duration: 0.3s;
              transition-property: top, right, bottom, left;
            }
            a:hover:before, a:focus:before, a:active:before {
              top: -8px;
              right: -8px;
              bottom: -8px;
              left: -8px;
              opacity: 1;
            }
        }
    }
    .contact{
        width: 30%;
        margin-right: 10px;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        a{
            text-decoration: none;
        }   
    }
}

@keyframes spin {
	0% { 
        // transform: rotate(0deg);
        border-radius: 0px;
    }
	100% { 
        // transform: rotate(360deg);
        border-radius: 50%;
    }
}