// Home content SCSS
.home-content {
  height: 100vh;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  .title {
    text-align: center;
    animation: float 2s infinite ease-in-out;
    h1 {
      font-family: $titles;
      font-size: 12vw;
    }

    h3 {
      font-family: $titles;
      font-size: 5vw;
    }
  }
}

// floating animation for title
@keyframes float {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}

// .arrow-up {
//   display: relative;
//   width: 0;
//   height: 0;
//   border-left: 5px solid transparent;
//   border-right: 5px solid transparent;

//   border-bottom: 5px solid black;
// }

// .arrow-down {
//   display: inline;
//   width: 0;
//   height: 0;
//   border-left: 20px solid transparent;
//   border-right: 20px solid transparent;

//   border-top: 20px solid #f00;
// }

// .arrow-right {
//   display: inline;
//   width: 0;
//   height: 0;
//   border-top: 60px solid transparent;
//   border-bottom: 60px solid transparent;

//   border-left: 60px solid green;
// }

// .arrow-left {
//   display: inline;
//   width: 0;
//   height: 0;
//   border-top: 10px solid transparent;
//   border-bottom: 10px solid transparent;

//   border-right: 10px solid blue;
// }
