.project-content {
  justify-content: center;
  align-items: center;
  .project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .project {
      margin-top: 20px;
      width: 80%;
      h3 {
        width: 100%;
        font-family: $sub-title;
        text-align: center;
        font-size: 1.3em;
        margin: 10px;
        margin-bottom: 20px;
      }
      .project-details {
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;
        img {
          height: 100%;
          margin: 10px;
          border: 2px double $texts;
        }
      }
    }
    .project:nth-child(2n) {
        .project-details{
            flex-flow: row-reverse;
        }
    }
  }
}
