@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow|Arimo|Exo+2|Rubik|Source+Sans+Pro&display=swap");
$main: #231f28;
$dark: #23324c;
$medium: #475170;
$light: #718eae;
$accent-colour: #8d453c;
$texts:white;

$titles: 'Exo 2', sans-serif;
$sub-title: 'Archivo', sans-serif;
$sub-title-narrow: 'Archivo narrow', sans-serif; 
$general: 'Rubik', sans-serif;